<div class="mail-wrapper">
  <!-- TOP HEADER -->
  <div class="top-header">
    <div class="logo-section">
      <img src="/images/logo/logo.png" alt="logo" class="logo" />
    </div>

    <div class="profile-section">
      <img src="/images/electricity/Login.png" alt="user" class="profile-img" />

      <span class="profile-name">Maria Mustermann</span>
    </div>
  </div>

  <!-- ORANGE CONTACT -->
  <div class="contact-bar">
    <img src="/images/electricity/MM.png" class="advisor-img" />

    <div class="contact-info">
      <div class="advisor-name">Ihr persönlicher Ansprechpartner</div>

      <div class="advisor-name">Manuel Markovic</div>

      <div class="advisor-phone">
        <strong>08157 999 42-0 </strong> (Mo. - Sa. 8:00 - 20:00 Uhr)
      </div>
    </div>
  </div>

  <!-- TITLE -->
  <h1 class="main-title">Sie haben Ihr Passwort erfolgreich zurückgesetzt!</h1>

  <!-- CONTENT -->
  <div class="mail-content">
    <p>Sehr geehrte Frau Mustermann,</p>

    <p>
      Sie haben Ihr Passwort für die Mailadresse
      <span class="blue-link">marie@mustermann.de</span>
      am 28. März und 18:17 Uhr (MEZ) erfolgreich zurückgesetzt.
    </p>

    <p>
      Falls Sie Ihr Passwort selbst geändert haben, brauchen Sie nichts weiter
      zu tun.
    </p>

    <p>
      Sie haben diese Aktion nicht selbst ausgeführt?
      <br />
      <span class="blue-link">
        Setzen Sie in diesem Fall bitte Ihr Passwort zurück.
      </span>
    </p>
  </div>

  <!-- ORANGE TITLE -->
  <div class="orange-title">Ich bin für Sie da</div>

  <!-- ADVISOR SECTION -->
  <div class="advisor-section">
    <div class="advisor-left">
      <div class="partner-photo-wrap">
        <img src="/images/electricity/MM.png" alt="Familienbetrieb" />
      </div>
      <div class="partner-info">
        <div class="partner-name">Manuel Markovic</div>
        <div class="container-main-btn">
          <button class="main-btn partner-btn">
            <span class="container-services">
              <img
                src="/images/electricity/Telefonhörer_Weiss.png"
                class="icon-telephone"
                alt="telephone"
              />
            </span>
            <span class="btn-text">08157 / 999 42-0</span>
          </button>
          <button class="main-btn partner-btn">
            <span class="container-services">
              <img
                src="/images/electricity/Mail.png"
                class="icon-email"
                alt="email"
              />
            </span>
            <span class="btn-text">mm@energiehandel.bayern</span>
          </button>
        </div>
      </div>
    </div>

    <div class="advisor-right">
      <p>Haben Sie noch Fragen zur Passwortänderung?</p>

      <p>
        Als Ihr persönlicher Ansprechpartner stehe ich Ihnen sehr gerne zur
        Verfügung.
      </p>

      <p>
        Bitte nennen Sie bei der Beratung immer Ihre E-Mail-Adresse
        <strong>m.mail@mustermann.de</strong>
      </p>

      <p>
        Sie erreichen mich von Montag bis Samstag zwischen
        <strong>08:00 und 20:00 Uhr</strong>
        unter den nebenstehenden Kontaktdaten.
      </p>

      <p>Herzliche Grüße aus Bayern</p>

      <p>
        Manuel Markovic <br />
        Ihr persönlicher Kundenberater
      </p>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer-menu">
    <span>Impressum</span>
    <span>Kontakt</span>
    <span>Datenschutz</span>
    <span>AGB</span>
  </div>

  <div class="footer-bottom">
    © 2026 - Tarifvergleich.Bayern. Das Vergleichsportal. Hier können
    Verbraucherinnen und Verbraucher kostenlos Tarife und Produkte in dem
    Bereich Energie (Strom und Gas) vergleichen. Tarifvergleich.Bayern legt
    größte Sorgfalt auf Vollständigkeit und Richtigkeit der dargestellten
    Informationen, übernimmt aber keine Gewähr für diese oder die
    Leistungsfähigkeit der Anbieter.
  </div>
</div>
