<div class="impressum-page">
  <div class="page-layout">
    <!-- ══════════ SIDEBAR ══════════ -->
    <aside class="sidebar">
      <!-- Ansprechpartner -->
      <app-contact-person></app-contact-person>
      <app-need-support></app-need-support>
    </aside>
    <!-- /sidebar -->

    <div class="main-content" style="min-width: 0">
      <div class="customer-profile-box" *ngIf="!submitted">
        <div class="login-berich">Bitte geben Sie Ihr neues Passwort ein</div>
        <div class="tab-row">
          <div class="form-group">
            <div class="login-text">Neues Passwort eingeben:</div>
          </div>

          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort</span>
                <input
                  #pwField
                  name="newPassword"
                  [type]="showPw ? 'text' : 'password'"
                  [value]="newPassword"
                  [(ngModel)]="newPassword"
                  [style.background-color]="passwordMismatch ? '#fff0f0' : 'white'"
                  (input)="
                    newPassword = $any($event.target).value;
                    validatePassword($any($event.target).value, repField.value)
                  "
                />
              </div>
              <span class="material-symbols-outlined pw-toggle" (click)="showPw = !showPw">{{
                showPw ? 'visibility' : 'visibility_off'
              }}</span>
            </div>
            <div class="field-error-msg" *ngIf="fieldErrors['newPassword']">
              {{ fieldErrors['newPassword'] }}
            </div>
          </div>

          <div class="form-group">
            <div class="login-text">Passwort wiederholen:</div>
          </div>

          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort wiederholen</span>
                <input
                  #repField
                  name="confirmPassword"
                  [type]="showRepPw ? 'text' : 'password'"
                  [style.background-color]="passwordMismatch ? '#fff0f0' : 'white'"
                  [(ngModel)]="confirmPassword"
                  (input)="validatePassword(pwField.value, $any($event.target).value)"
                />
              </div>
              <span class="material-symbols-outlined pw-toggle" (click)="showRepPw = !showRepPw">{{
                showRepPw ? 'visibility' : 'visibility_off'
              }}</span>
            </div>
            <div class="login-text" style="color: #cc0000" *ngIf="passwordMismatch">
              Die Passwörter stimmen nicht überein
            </div>
          </div>
          <div class="error-msg" style="color: #cc0000" *ngIf="apiError">{{ apiError }}</div>

          <div class="password-guidelines">
            <div class="login-text" style="font-weight: 50; margin-bottom: 6px">
              Grundsätzliches zu sicheren Passwörtern / Kennwortrichtlinien
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_length"
                [class.invalid]="!pw_length"
              ></span>
              <span class="login-text" [style.color]="pw_length ? 'green' : '#666'">
                Mindestens 8 und maximal 50 Zeichen
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_case"
                [class.invalid]="!pw_case"
              ></span>
              <span class="login-text" [style.color]="pw_case ? 'green' : '#666'">
                Ein Groß- und ein Kleinbuchstabe
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_special"
                [class.invalid]="!pw_special"
              ></span>
              <span class="login-text" [style.color]="pw_special ? 'green' : '#666'">
                Mindestens ein Sonderzeichen (!, @, $, %, ^, &, *, +, #)
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_number"
                [class.invalid]="!pw_number"
              ></span>
              <span class="login-text" [style.color]="pw_number ? 'green' : '#666'">
                Mindestens eine Zahl
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_number"
                [class.invalid]="!pw_number"
              ></span>
              <span class="login-text" [style.color]="pw_number ? 'green' : '#666'">
                Ihr Passwort darf keine Ähnlichkeit mit ihrer E-Mail-Adresse haben
              </span>
            </div>
          </div>

          <!-- Back / Next -->
          <div style="flex-direction: row; justify-content: space-between; margin-top: 10px">
            <div class="form-actions">
              <button
                type="button"
                class="btn-primary"
                [disabled]="isLoadingReset"
                (click)="resetPassword()"
              >
                <span *ngIf="isLoadingReset; else normal">
                  <span class="spinner"></span> Einreichen...
                </span>

                <ng-template #normal>
                  <span> Neues Passwort absenden</span>
                </ng-template>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="section-panel" *ngIf="submitted">
        <div class="success-box">
          <div class="success-content">
            <div class="success-row">
              <img src="assets/icons/Kreis_Haken_gruen.png" alt="success" />

              <div class="text-block">
                <div class="tab-header">Passwort zurücksetzen</div>
                 <div class="tab-text">Passwort erfolgreich zurückgesetzt</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
