<div class="max-w-xl mx-auto bg-white dark:bg-gray-900 p-6 rounded-2xl shadow">

  <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-6">
        E-Mail Geschäftsführung</h2>

  <form class="space-y-5">

    <!-- Dropdown -->
    <div>
      <label class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
        Wählen Sie E-Mail-Anfrage *
      </label>

      <select
      name="selectedCategory"
        [(ngModel)]="selectedCategory"
        class="w-full border rounded-xl px-4 py-3 outline-none"
      >
      class="border-2 border-dashed rounded-lg p-4 text-center cursor-pointer hover:border-brand-400 transition">
        <option value="">Select Option</option>
            @for (c of categories; track c.cateId) {

              <option [value]="c.cateId">
                {{ c.name }}
              </option>
            }
      </select>
    </div>

    <!-- Title -->
    <div>
      <label class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
        Titel *
      </label>

      <input
        name="title"
        [(ngModel)]="title"
        type="text"
        placeholder="Enter tiel"
        class="w-full border rounded-xl px-4 py-3 outline-none"
      />
    </div>

    <!-- SubTitle -->
    <div>
      <label class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
        Untertitel *
      </label>

      <input
        name="subtitle"
        [(ngModel)]="subtitle"
        type="text"
        placeholder="Enter Untertitel"
        class="w-full border rounded-xl px-4 py-3 outline-none"
      />
    </div>

    <!-- Text Area -->
    <div>
      <label class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
        E-Mail Inhalte *
      </label>
      <!-- INFO BOX -->
        <div
          class="mt-3 mb-1 flex items-start gap-3 rounded-xl border border-blue-200 bg-blue-50 px-4 py-3"
        >

          <!-- ICON -->
          <div class="mt-0.5">

            <svg
              class="w-5 h-5 text-blue-600"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >

              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"
              >
              </path>

            </svg>

          </div>

          <!-- TEXT -->
          <div>

            <h4 class="text-[11px] font-semibold text-blue-800">
              Hinweis
            </h4>

            <p class="text-[10px] text-blue-700 mt-0.5">
              Following key words we have used : </p>
              <ul class="list-disc pl-4 mt-3 space-y-1">
                <li class="leading-4 text-[10px] text-blue-700" > {{ `{` }}OTP{{ `}` }} - Diese Variable wird durch den tatsächlichen Verifizierungscode ersetzt.</li>
                <li class="leading-4 text-[10px] text-blue-700"> {{ `{` }}BENUTZERNAME{{ `}` }} - Diese Variable wird durch den tatsächlichen Benutzernamen ersetzt.</li>
                <li class="leading-4 text-[10px] text-blue-700"> {{ `{` }}EMAIL{{ `}` }} - Diese Variable wird durch die tatsächliche E-Mail-Adresse des Benutzers ersetzt.</li> 
                <li class="leading-4 text-[10px] text-blue-700"> {{ `{` }}AUFTRAGSNUMMER{{ `}` }} - Diese Variable wird durch die tatsächliche Bestellnummer ersetzt..</li> 

              </ul>

          </div>

        </div>

      <div class="border overflow-hidden rounded-xl">

        <!-- Toolbar + Editor -->
        <ckeditor
          [editor]="Editor"
          [(ngModel)]="emailContent"
          name="emailContent"
          [config]="{
            placeholder: 'E-Mail-Inhalte schreiben...',
            toolbar: [
              'bold', 'italic', 'link', 'blockQuote', '|', 'undo', 'redo'
            ]
          }"
          class="block min-h-[80px]"
        >
        </ckeditor>

      </div>
    </div>

    <!-- PDF FIELD -->

    <div class="relative">

      <label class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
        Wählen PDFs (optional)
      </label>

      <div class="flex gap-2">

        <select
          #pdfSelect
          name="pdfSelect"
          [(ngModel)] = "selectedPdfValue"
          class="w-full border rounded-lg p-3 text-gray-500"
        >
          <option value="">wählen dein Pdf</option>
          <option
            *ngFor="let pdf of pdfList"
            [value]="pdf.adminDocId"
            class="text-black"
          >
            {{ pdf.originalFileName }}
          </option>

        </select>

        <button
          type="button"
          (click)="addPdf(pdfSelect.value)"
          class="w-8 h-8 rounded-full bg-blue-500 text-white"
        >
          +
        </button>

      </div>

    </div>

    <!-- SELECTED PDF LIST -->

    <div
      *ngFor="let pdf of selectedPdfs; let i = index"
      class="border-2 border-dashed border-gray-200 rounded-2xl p-4 mt-3 flex justify-between items-center hover:border-blue-400 hover:bg-blue-50 transition duration-200 cursor-pointer"
    >

      <span class="text-blue-600 underline truncate">
        {{ pdf.originalFileName }}
      </span>

      <button
        type="button"
        (click)="removePdf(i)"
        class="w-8 h-8 rounded-full bg-red-400 text-white"
      >
        🗑
      </button>

    </div>


  @if(message) {
    <div
      class="mb-4 p-3 rounded-lg text-sm"
      [class.bg-red-100]="isError"
      [class.text-red-700]="isError"
      [class.bg-green-100]="!isError"
      [class.text-green-700]="!isError"
    >
      {{ message }}
    </div>

  }

    <!-- Buttons -->
    <div class="flex gap-4 pt-6">

    <button
    (click)="submitForm()"
        type="button"
        class="flex-1 bg-brand-500 text-white py-2 rounded-lg hover:bg-brand-600 transition cursor-pointer disabled:opacity-50">
    Erstellen
    </button>

    <button
    (click)="cancelForm()"
    type="button"
    class="flex-1 bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-300 py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700 transition text-center cursor-pointer"
    >
    Abbrechen
    </button>

</div>

</form>

</div>