<div class="container-callback" *ngIf="currentStep === 'callback'">
  <div class="container-wish">
    <span
      ><strong>Wünschen Sie eine persönliche Erstberatung per Telefon?</strong>
      <br />
      <span class="center-text">Dann fordern Sie jetzt Ihren Rückrufwunsch an.</span>
    </span>
  </div>
  <div class="item-callback">
    <button class="callback" (click)="goToStep('telefon')">Rückruf anfordern</button>
  </div>
</div>

<div class="container-callback" *ngIf="currentStep === 'telefon'">
  <div class="container-wish">
    <span class="telefon"
      ><strong
        >Bitte geben Sie Ihre Telefonnummer an, <br />
        unter der wir Sie erreichen können.</strong
      >
    </span>
  </div>
  <div class="container-phone">
    <input class="country-code" type="text" [(ngModel)]="countryCode" readonly />
    <input
      type="number"
      placeholder="Mobilnummer oder Festnetznummer"
      [(ngModel)]="phoneNumber"
      class="number"
    />
    <button class="callback" (click)="onNextPhone()">Rückrufzeit festlegen</button>
  </div>
  <div class="error" style="color: red" *ngIf="fieldErrors['phoneNumber']">
    {{ fieldErrors['phoneNumber'] }}
  </div>
</div>

<div class="container-callback" *ngIf="currentStep === 'weekday'">
  <div class="container-wishlist">
    <span>
      <strong> Bitte wählen Sie, an welchem Wochentag wir Sie erreichen können. </strong>
    </span>
  </div>

  <div class="container-days">
    <button
      class="days"
      *ngFor="let day of filteredDays; trackBy: trackByDay"
      (click)="selectDay(day.value ?? '')"
      [class.active]="selectedDay === (day.value ?? '')"
    >
      {{ getDayLabelByValue(day.value ?? '') }}
      ({{ day.label }})
    </button>
  </div>

  <div class="item-callback">
    <button class="callback btn-time" [disabled]="!selectedDay" (click)="submitDay()">
      Wochentag festlagen
    </button>
  </div>

  <div class="api-message api-error" style="color: red" *ngIf="scheduleErrorMessage">
    {{ scheduleErrorMessage }}
  </div>
</div>

<div class="container-callback" *ngIf="currentStep === 'time'">
  <div class="container-wishlist">
    <span><strong>Bitte wählen Sie, zu welcher Uhrzeit wir Sie erreichen können.</strong> </span>
  </div>
  <div class="container-days">
    <button
      class="days"
      *ngFor="let slot of timeSlots"
      (click)="selectTimeSlot(slot.value)"
      [class.active]="selectedTimeSlot === slot.value"
      [disabled]="!isTimeSlotEnabled(slot.value)"
      [class.disabled]="!isTimeSlotEnabled(slot.value)"
    >
      {{ slot.label }}
    </button>
  </div>
  <div class="item-callback">
    <button class="callback btn-time" [disabled]="!selectedTimeSlot" (click)="goToStep('others')">
      Uhrzeit festlegen
    </button>
  </div>
</div>

<div class="container-callback" *ngIf="currentStep === 'others'">
  <div class="container-wishlist">
    <span><strong>Möchten Sie noch weitere Informationen hinterlassen?</strong> </span>
    <div class="container-days">
      <input
        class="information-box"
        placeholder="Platz für Infos, z.B. genaue Uhrzeit, an der Sie gut erreichbar sind"
        [(ngModel)]="scheduleDescription"
      />
    </div>
  </div>
  <div class="item-callback">
    <button class="callback btn-time" (click)="submitCallback()">
      Infos absenden & Rückruf erhalten
    </button>
  </div>
  <div class="api-message success" *ngIf="scheduleSuccessMessage">
    {{ scheduleSuccessMessage }}
  </div>

  <div class="api-message error" *ngIf="scheduleErrorMessage">
    {{ scheduleErrorMessage }}
  </div>
</div>
